header{
    background-image: url('hiking.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 5%;
}
.logo{
    text-align: center;
}
li{
    display: inline;
    color: white;
    list-style: none;
    padding: 10px;
    
}
li a{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: white;   
}
li a:hover{
    text-decoration: none;
    list-style: none;
    background-color: rgb(77, 73, 73);
    color: white;
    border-radius: 10px;
    font-weight: 600;
}
.searchbaricon{   
   background-color: white;
   padding: 5px;
   align-items: center;
   fill: orangered;
   margin-left: 45%;
   margin-right: 10%;
   border-radius: 30px 30px;
    position: relative;
}

@media (min-width: 768px){
    .searchbaricon {
        background-color: white;
        padding: 5px;
        align-items: center;
        fill: orangered;
        margin-left: 45%;
        margin-right: 10%;
        border-radius: 30px 30px;
    }
}  
input{
    border: 2px solid white;
    position: absolute;
    height: 80%;
    width: 50%;
}
.beginner{
    font-size: 200%;
}
::placeholder{

    color: rgba(128, 128, 128, 0.712);
    text-align: center;
}
.learnmore{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 600;
    border: 4px solid white;
    border-radius: 30px 30px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    width: 25%;
    margin-top: 5%;
}
.loremtext{
    font-size: small;
    margin-top: 20%;
    text-align: center;
    color: white;
}
.orngbox{
    background-color: #ff66006b;
    margin-top: 40%;
    height: 40%;
    width: 70%;
    margin-left: 20%;
}

@media(min-width : 768px){
    .orngbox{
        background-color: #ff66006b;
        height: 100%;
        width: 70%;
        margin-left: 20%;
    }
        
}  











